@import 'tailwindcss';

/* Example global tweaks */
@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    color: var(--color-slate-900);
    background-color: var(--color-slate-50);
  }
}